# app
/app/app
/app/.env
.DS_STORE
/app/log/*
!/app/log/.gitkeep

# docker
.env
/mysql/data
!/mysql/data/.gitkeep
/mysql/log
!/mysql/log/.gitkeep

/redis/data
!/redis/data/.gitkeep

/redis-insight/data
!/redis-insight/data/.gitkeep

# editor
.vscode/
launch.json