[mysqld]
character-set-server=utf8mb4
collation_server=utf8mb4_bin
default_authentication_plugin=mysql_native_password
explicit_defaults_for_timestamp=true
mysqlx=OFF
slow_query_log=true
slow_query_log-file=/var/log/mysql/mysql-slow.sql
long_query_time =0.5

[mysql]
default-character-set=utf8mb4
