[mysqld]
character-set-server=utf8mb4
collation_server=utf8mb4_bin
default_authentication_plugin=mysql_native_password
explicit_defaults_for_timestamp=true
mysqlx=OFF
slow_query_log=true
slow_query_log-file=/var/log/mysql/mysql-slow.sql
long_query_time=1
log_error=/var/log/mysql/mysql-error.log
innodb_print_all_deadlocks=ON
innodb_status_output=ON
innodb_status_output_locks=ON
innodb_file_per_table=ON
innodb_buffer_pool_size=512M
innodb_log_buffer_size=16M
innodb_log_file_size=1G
max_connections=50
thread_cache_size=50
read_rnd_buffer_size=1M
sort_buffer_size=2M
read_buffer_size=512K
join_buffer_size=512K
sort_buffer_size=4M
wait_timeout=30
expire_logs_days=1

[mysql]
default-character-set=utf8mb4

[client]
loose-default-character-set=utf8mb4

